/*---- header ----*/

.team-slider img {
    filter: grayscale(100%);
    transition: all .5s ease;
}

.team-slider img:hover {
    filter: grayscale(0);
    transform: rotate(360deg)
}

/*---- main ----*/
main .hero-section {
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

main .location .adress img {
    width: 40%;
}

main .location .adress p {
    margin: 0;
    padding: 0;
}

.bg-photo1 {
    background-image: url(../images/1h.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 370px;
}

.bg-photo2 {
    background-image: url(../images/2h.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 370px;
}

.bg-photo3 {
    background-image: url(../images/3h.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 370px;
}

.bg-photo4 {
    background-image: url(../images/4h.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 370px;
}

/*.about {
    padding: 100px 280px;
}*/

.adress {
    padding-left: 90px;
}

.hr {
    background: #d6d6d6;
    height: 1px;
    width: 300px;
    margin: 13px 0px;
}

/*---- footer ----*/
footer {
    background-color: #292929;
}

footer img {
    width: 70%;
}

footer p {
    color: white;
}

footer i {
    color: white;
    margin: 0 15px;
    font-size: 25px;
}
