.loading {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
    text-align: center;
    font-size: 60px;
    padding-top: 22%;
    box-sizing: border-box;
    color: #524f56;
}

/*---- header ----*/

header {
    z-index: 400;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all .5s ease;
}

header.scroll {
    background: #f8f9fa;
    transition: all .5s ease;
}

header .cl {
    color: #fff;
}

header .cl:hover {
    color: #fff;

}

/*---- main ----*/
main .hero-section {
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

main .location .adress img {
    width: 40%;
}

main .location .adress {
    padding-left: 90px;
}

main .location .adress p {
    margin: 0;
    padding: 0;
}

main .location .adress .hr {
    background: #d6d6d6;
    height: 1px;
    width: 300px;
    margin: 13px 0px;
}

main .photo .bg-photo1 {
    background-image: url(../images/1h.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 370px;
}

main .photo .bg-photo2 {
    background-image: url(../images/2h.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 370px;
}

main .photo .bg-photo3 {
    background-image: url(../images/3h.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 370px;
}

main .photo .bg-photo4 {
    background-image: url(../images/4h.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 370px;
}


/*---- footer ----*/
footer {
    background-color: #292929;
}

footer img {
    width: 70%;
}

footer p {
    color: white;
}

footer i {
    color: white;
    margin: 0 15px;
    font-size: 25px;
}
